/*apply styles*/
h2{
    background-color: blue;
    /*border-style: dashed;
     border-width: 10px; 
     border-color: white;*/
      border: 10px solid green; 
      /* padding-left: 60px;
       padding-top: 20px;*/ 
       /*padding: 60px;
        margin-left: 150px;
         margin-right: 150px;
          margin-top: 50px;*/
           margin: auto ; 
           height: 300px; 
           width: 200px;
         } 
         body{
             /* width: 100%; 
             height: 100vh;
               background-position: center;
                background-size:cover;/*css3 property*/
                 background: brown url(images/pexels-tirachard-kumtanom-587441.jpg) 
                 center no-repeat
}